name: Build Dockerfile

on: push

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Build Dockerfile
        run: docker build . -t chessapp
